@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
}

.wrapper{
    width: 100%;
    margin: 5% auto;
    position: relative;
}

.content-table{
    position: absolute;
    margin: auto;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-collapse: collapse;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    text-align: center;
    background: #333;
}

.content-table thead{
    border: 2px solid olive;
}

.content-table tbody tr{
    border: 0.09rem solid olive;
}

.content-table th{
    padding: 1rem;
    font-size: 1.2rem;
    background: #333;
    color: goldenrod;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}

.content-table td{
    padding: 0.7rem;
    font-size: 1.2rem;
    color: teal;
    /* background: rgba(128, 128, 0, 0.4); */
    background: #333;
}

.content-table td a{
    text-decoration: none;
    position: relative;
    padding: 0.3rem;
    border-radius: 2px;
    letter-spacing: 0.09rem;
    color: darkgoldenrod;
}

.content-table td a:after{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: coral;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    /* border-bottom: 2px solid brown; */
}

.content-table td a:hover:after{
    width: 100%;
}

.content-table td a:visited{
    color: darkgoldenrod;
}

.content-table{
    border-bottom: 3px solid olive;
}

/* TABLE SCROLL */
.content-table tbody, .content-table thead, .content-table tr, .content-table th, .content-table td{
    display: block;
}

.content-table tbody{
    height: 70vh;
    overflow-y: auto;
    width: 100%;
}

.content-table tr th, .content-table  td, .content-table thead, .content-table tbody{
    float: left;
}

.content-table thead, .content-table thead tr{
    width: 100%;
    min-height: 10vh;
    height: auto;
}

.content-table tbody tr{
    width: 100%;
    /* height: 8.5vh; */
    clear: both;
    display: inline-block;
}

.content-table th:nth-child(1),
.content-table td:nth-child(1){
    width: 15%;
}
.content-table th:nth-child(2),
.content-table td:nth-child(2){
    width: 55%;
}
.content-table th:nth-child(3),
.content-table td:nth-child(3){
    width: 30%;
}

.content-table thead th, .content-table tbody{
    width: 100%;
    display: block;
}

tbody{
    width: 100%;
}

.content-table tbody td{
    word-wrap: break-word;
    text-align: center;
    text-transform: capitalize;
}

.content-table tbody::-webkit-scrollbar{
	position: absolute;
	right: 0;
	width: 0.6rem;
    background: grey;
	/* border-radius: 10px; */
    transition: 0.5s;
}
.content-table tbody::-webkit-scrollbar:hover{
    /* background: #333; */
}
.content-table tbody::-webkit-scrollbar-thumb{
	background: teal;
	border-radius: 5px;
	border: 1.5px solid wheat;
    transition: 0.5s;
}

.content-table tbody::-webkit-scrollbar-thumb:hover{
	background: olive;
}