.one p, .one a{
    margin: 15px;
    padding: 30px;
    border: 2px solid navy;
}

.two p, .two a{
    width: 20%;
    margin: 15px;
    padding: 30px;
    border: 2px solid navy;
    display: block;
}

.three p, .three a{
    width: 20%;
    margin: 15px;
    padding: 30px;
    border: 2px solid navy;
    display: inline-block;
}